@tailwind base;
@tailwind components;
@tailwind utilities;

html,
body {
  @apply bg-black;
}

.bg-image {
  display: block;
  height: 100vh;
  background-image: url(/bine-web.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

.rsvp {
  background-image: url(/IDE_artwork.jpeg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

::selection {
  @apply bg-white text-black;
}

/* Rich text */

.rich-text p,
.rich-text h2 {
  @apply pb-4;
}

.rich-text a {
  @apply underline;
}
